@import url("/global/Material Design/tokens.css");
@import url("/global/Material Design/colors.module.css");
@import url("/global/Material Design/theme.light.css")
(prefers-color-scheme: light);
@import url("/global/Material Design/theme.dark.css")
(prefers-color-scheme: dark);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')  
[hidden] {
  display: none !important;
}
* {
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.material-symbols-rounded {
  font-size: inherit;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: sub;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 34
}

/* Import fonts */
@font-face {
  font-family: Viga;
  src: url("https://cdn.glitch.global/2cf2beee-e334-4544-8206-21ce533c4b23/Viga-Regular.ttf?v=1712380616132")
    format("opentype");
}
@font-face {
  font-family: MontserratAlt1;
  src: url("https://cdn.glitch.global/2cf2beee-e334-4544-8206-21ce533c4b23/MontserratAlt1-Black.ttf?v=1712380769823")
    format("opentype");
}
@font-face {
  font-family: Montserrat;
  src:url(@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap") format("opentype");
}

body {
  font-family: Montserrat, serif;
  background-color: var(--md-sys-color-background);
  width: 100vw;
  min-height: 100vh;
  font-size:22px;
  color: var(--md-sys-color-on-background);
  overflow-x: hidden;
}
progress {
    border: 0;
    height: 20px;
    border-radius: 10px;
}
progress::-webkit-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 10px;
}
progress::-webkit-progress-value {
    border: 0;
    height: 20px;
    border-radius: 10px;
}
progress::-moz-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 10px;
}
