@font-face {
  font-family: The Shape of Things;
  src: url("https://cdn.glitch.global/2cf2beee-e334-4544-8206-21ce533c4b23/The Shape Of Things Logo Font.otf?v=1709787131544")
    format("opentype");
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" -25, "opsz" 24;
}

body {
  font-family: sans-serif;
  background-color: var(--md-sys-color-background);
  width: 100vw;
  height: 100vh;
  color: var(--md-sys-color-on-background);
  overflow-x: hidden;
  overflow-y: auto;
}
style {
  display: none;
}
h1 {
  margin: 5px;
  width:100%;
}
h3 {
  margin: 5px;
}
.trackProgressMeter {
  margin-top: 10px;
}
.trackInfo div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 20px;
  margin: 5px;
  flex-wrap: wrap;
  align-items: center;
}
.trackInfo div span {
  flex-direction: row;
  margin-right: 10px;
  margin-left: 10px;
}
.trackInfo div i {
  display: flex;
  flex-direction: row;
}

.trackInfo {
  width: 100%;
}
.trackAuthor {
  font-size: inherit;
  font-style: normal;
  font-weight: bold;
}
#addNewTrackForm,
.viewCurrentlyPlayingTrack {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  width: calc(100% - 40px);
  margin: 20px;
  padding: 20px;
  font-family: inherit;
  font-size: 22px;
}
#addNewTrackForm div {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#addNewTrackForm div div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-basis: min-content;
}

#addNewTrackForm div div span {
  margin-right: 20px;
}
#addNewTrackForm input {
  height: 50px;
  flex-basis: content;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-primary);
  font-size: 22px;
  border: 2px solid var(--md-sys-color-primary);
  padding: 5px;
  border-radius: 10px;
}
progress {
    border: 0;
    height: 40px;
    border-radius: 20px;
}
progress::-webkit-progress-bar {
    border: 0;
    height: 40px;
    border-radius: 20px;
}
progress::-webkit-progress-value {
    border: 0;
    height: 40px;
    border-radius: 20px;
}
progress::-moz-progress-bar {
    border: 0;
    height: 40px;
    border-radius: 20px;
}